@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* music container */

.music-container {
  background-color: #fff;
  padding: 20px 30px;
  margin: 100px 0;
  border-radius: 15px;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  display: flex;
  position: relative;
  z-index: 10;
}

/* Image */
.img-container {
  position: relative;
  width: 110px;
}

.img-container img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -60px;
  left: 20px;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* navigation */

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #fff;
  color: #dfdbdf;
  border: 0;
  font-size: 20px;
  padding: 10px;
  margin: 0 20px;
  cursor: pointer;
}

.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

/* Music-info */
.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 10px 10px 150px;
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  transform: translateY(0%);
  z-index: 0;
  opacity: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

/* progress */
.progress-container {
  background: #fff;
  height: 4px;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

.progress {
  background: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
